<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comment">
            <h2><span jhiTranslate="questionnaireApp.comment.detail.title">Comment</span> {{ comment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="questionnaireApp.comment.name">Name</span></dt>
                <dd>
                    <span>{{ comment.name }}</span>
                </dd>
                <dt><span jhiTranslate="questionnaireApp.comment.commentType">Comment Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'questionnaireApp.CommentType.' + comment.commentType }}">{{ comment.commentType }}</span>
                </dd>
                <dt><span jhiTranslate="questionnaireApp.comment.refQuestionId">Ref Question Id</span></dt>
                <dd>
                    <span>{{ comment.refQuestionId }}</span>
                </dd>
                <dt><span jhiTranslate="questionnaireApp.comment.answer">Answer</span></dt>
                <dd>
                    <span *ngFor="let answer of comment.answers; let last = last">
                        <a [routerLink]="['/answer', answer?.id, 'view']">{{ answer.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="questionnaireApp.comment.question">Question</span></dt>
                <dd>
                    <span *ngFor="let question of comment.questions; let last = last">
                        <a [routerLink]="['/question', question?.id, 'view']">{{ question.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="questionnaireApp.comment.owner">Owner</span></dt>
                <dd>
                    <div *ngIf="comment.ownerId">
                        <a [routerLink]="['/application-user', comment.ownerId, 'view']">{{ comment.ownerId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comment', comment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
